*{
    box-sizing: border-box;
}
body {
    background: #2D2A37;
    position: relative;

}

.frame {
    width: 1000px;
    height: 480px;
    position: absolute;
    top: 80px;
    left: 150px;
    gap: 0px;
    border-radius: 15px;
    background: linear-gradient(180deg, #807ECE 0%, #8E7ECE 100%);
}

.calc-outer{
    width: 300px;
height: 400px;
position: absolute;
top: 41px;
left: 350px;
gap: 0px;
border-radius: 25px;
background: #2D2A37;
box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.25);

}
.calc-inner{
    position: absolute;
    height: 380px;
    top: 7px;
left: 10px;
display: flex;
flex-direction: column;
gap: 38px;
    
}
.display{
 width: 280px;
height:50px;
text-align: right;
background-color: #2d2a37;
border: none;
color: #fff;
font-size: large;
}
.display input:focus{
outline: none;
}
.buttons{
    width: 280px;
height: 293px;
display: grid;
grid-template-columns:1fr 1fr 1fr 1fr ;
gap: 0px;
place-items: center;

}
.buttons button{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: brown;
}
 .num{
    background-color: #2D2A37;
box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.29);
color: #fff;
font-size: x-large;    
}
.func{
    background-color: #462878;
    color: #fff;
    font-size: xx-large;
    box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.29);
    
}
.equal{
    background: rgba(127, 69, 226, 1);
    color: #fff;
    box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.29);
    font-size: xx-large;

}
.ce{
    background-color: #2D2A37;
    color: rgba(127, 69, 226, 1);
    box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.29);
    font-size: large;
}